<p id="notice"><%= notice %></p>

<h1>About</h1>
<div class="main-paragraph">
  <p>I'm Ernest, a freelance full stack web developer.
     <br>Flick me a message if you need assistance with a web project.
     <br>Check out my Contact info!</p>
</div>
