// Place all the styles related to the simple_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html {
  height: 100%;
}

body {
  height: 100%;
  min-height: 100%;
}

.navbar {
  padding-left: 5px;
}

.navbar-brand {
  font-family: "Oleo Script", Helvetica, sans-serif;
  font-size: 2.5em;
  color: #000;
  text-shadow: 3px 3px 0px rgba(255,255,255,1.0);
  background-color: #F45B69;
  text-align: center;
  margin: 0;
  padding: 0 10px;
}

#navbarNavAltMarkup {
  justify-content: flex-end;
}

.navbar-nav a,
.search_button {
  font-family: "Oswald", sans-serif;
  font-size: 1.2em;
  font-weight: 1000;
  margin: 0 10px 0 0;
}

.navbar > .collapse > .navbar-nav > .nav-item:hover {
  // color: #F45B69;
  color: #FDE2E2;
  background-color: #000;
}

.navbar-nav form {
  margin: 5px 0 0 0;
}

#mainpic {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: "Oswald", sans-serif;
  font-size: 2.5em;
  font-weight: 800;
  text-align: center;
}

h2 {
  font-family: "Roboto", sans-serif;
  color: #000;
  font-size: 1.0em;
  font-weight: 100;
  text-align: center;
}

.main-paragraph {
  display: flex;
  justify-content: center;
}

.main-paragraph p {
  font-family: "Roboto", sans-serif;
  font-size: 1.0em;
  font-weight: 100;
  margin-bottom: 0px;
  text-align: left;
}

.wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -142px; /* the bottom margin is the negative value of the footer's height */
}

footer, .push {
  display: flex;
  justify-content: center;
  font-family: "Oleo Script", Helvetica, sans-serif;
  font-size: 1.2em;
  height: 142px;
}

.carousel-indicators li,
.carousel-indicators li.active {
  position: relative;
  top: 50px;
  float: left;
  width: 5%;
  height: 5px;
  margin: 10px;
  border-radius: 10px;
  border: 0;
  background: pink;
}

.carousel-indicators li.active {
  background: grey;
}

.carousel-img {
  display: flex;
  justify-content: center;
  padding: 40px 0;
  margin-bottom: 50px;
}

.carousel-caption {
  top: 350px;
}

.carousel-control-prev,
.carousel-control-next {
  background-color: pink;
}
