// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
td {
  font-family: "Oswald", sans-serif;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  color: #000;
  // border: 1px solid black;
}

th {
  text-align: center;
}


th, td {
  border: 1px solid black;
}

h6 {
  font-size: 1em;
  font-weight: bold;
}
